body{
  margin: 0;
}
a {
  color:black;
  text-decoration: none;
}
h1{
  font-size:50px;text-align:center;border-bottom:5px double gray;margin:0;padding:60px
}
h2{
  font-size: 35px; width:300px; text-align:left;
}
ul{
  border-right:1px solid gray;
  width:120px;margin: 0; padding-top: 40px; padding-right: 37px;
  font-size: 20px;
  line-height: 40px;
  list-style: none;
}
#grid{
  display:grid; grid-template-columns: 150px 1fr; padding-left: 24px;
}
#grid ul{
  padding-left:37px;
}
#grid #article{
  padding-left:90px;
}
@media(max-width:800px){
#grid{
  display:block;
}
ul{
  border-right:none;
}
h1{
  border-bottom:none;
}
}
